<ion-header class="ion-no-border nc-header">
  <ion-toolbar>
    <div class="nc-toolbar">
      <img src="assets/images/logo-umng.png" alt="Logo UMNG" class="nc-toolbar-logo">
      <div class="nc-toolbar-right">
        <button class="nc-icon-btn" (click)="goToNotifications()">
          <ion-icon name="notifications-outline"></ion-icon>
        </button>
        <button class="nc-icon-btn" (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <div class="home-wrapper">

    <!-- Título de bienvenida -->
    <div class="welcome-block">
      <h1 class="welcome-title">BIENVENIDO A<br>NEOGRANADA<br>CONECTA</h1>
    </div>

    <!-- Panel blanco con grid -->
    <div class="home-panel">
      <div class="menu-grid">
        <button *ngFor="let item of menuItems"
                class="menu-tile"
                (click)="navigate(item.route)">
          <div class="tile-icon-box">
            <ion-icon [name]="item.icon"></ion-icon>
          </div>
          <span class="tile-label">{{ item.label }}</span>
        </button>
      </div>
    </div>

  </div>
</ion-content>
